{% extends 'base.html.twig' %}


      {% block services %}
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="owl-service-item owl-carousel">

                <div class="item">
        <div class="icon">
            <img src="{{ asset('images/service-icon-01.png') }}" alt="Best Education">
        </div>
        <div class="down-content">
            <h4>Best Education</h4>
            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
        </div>
    </div>

    <div class="item">
        <div class="icon">
            <img src="{{ asset('images/service-icon-02.png') }}" alt="Best Teachers">
        </div>
        <div class="down-content">
            <h4>Best Teachers</h4>
            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
        </div>
    </div>

            
                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('images/service-icon-03.png') }}" alt="Best Students">
                    </div>
                    <div class="down-content">
                        <h4>Best Students</h4>
                        <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('images/service-icon-02.png') }}" alt="Online Meeting">
                    </div>
                    <div class="down-content">
                        <h4>Online Meeting</h4>
                        <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('images/service-icon-03.png') }}" alt="Best Networking">
                    </div>
                    <div class="down-content">
                        <h4>Best Networking</h4>
                        <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
                    </div>
                </div>            
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
