<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('plugins/images/favicon.png') }}">

    <title>Ample Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Bootstrap Core css1 -->
    <link href="{{ asset('bootstrap1/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css1/animate.css')}}" rel="stylesheet">
    <!-- Custom css1 -->
    <link href="{{ asset('css1/style.css') }}" rel="stylesheet">
    <!-- color css1 -->
    <link href="{{ asset('css1/colors/default.css') }}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js1 IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js1 doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="text-danger">404</h1>
                <h3 class="text-uppercase">access denied</h3>
                <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
                <a href="{{ path('app_service') }}" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">back home</a> </div>
            <footer class="footer text-center">2024 © ESPRIT.</footer>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bootstrap1/dist/js/bootstrap.min.js') }}"></script>
</body>

</html>
